/* Truck Loader Styles */

.truck-loader {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.truck-wrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

/* Truck upper body */
.truck-body {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: truck-motion 1s linear infinite;
}

/* Truck suspension animation */
@keyframes truck-motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Truck's tires */
.truck-tires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}

.tire-svg {
  width: 24px;
  animation: tire-rotation 0.5s linear infinite;
}

/* Tire rotation animation */
@keyframes tire-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.truck-svg {
  width: 100%;
  height: auto;
}

/* Road */
.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}

.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: road-animation 1.4s linear infinite;
  border-left: 10px solid white;
}

.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: road-animation 1.4s linear infinite;
  border-left: 4px solid white;
}

/* Road animation */
@keyframes road-animation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  .road::before,
  .road::after {
    border-left-color: hsl(var(--background));
  }
}

